<div class="jets-banner">
  <video id="banner_video" src="<%= image_path 'banner_video.mp4' %>" type="video/mp4" autoplay loop muted >
  </video>
  <div class="banner_button">

    <h1>Find the flight of your dreams!</h1>
    <a href="#trump"><img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_arrow_drop_down_48px-512.png" alt="" style="height: 150px"></a>

  </div>
  <div class="jets-banner-content">
    <h1>Search Results</h1>
  </div>
</div>
<div class="main-container">

  <div class="left">
    <div class="row">
      <% @jets.reverse.each do |jet| %>
        <div class="col-sm-6">
          <div class="jet-card">
            <% if jet.photo? %>
            <%= link_to jet_path(jet) do %>
              <div class="top" style="background-image: url('<%= cl_image_path jet.photo, height: 300, width: 400 %>');background-size: cover; height: 220px;">

              </div>
              <% end %>
            <% else %>
            <%= link_to jet_path(jet) do %>
              <div class="top" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(60,60,60,0.6) 50%), url('https://images.unsplash.com/photo-1540962351504-03099e0a754b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cdc84c9290e90088f8ab78270ee1ffdf&auto=format&fit=crop&w=450&h=300&q=60'); height: 220px;">
              </div>
              <% end %>
           <% end %>
            <div class="bottom">
              <div class="jetname">
                <%= jet.name %>
              </div>
                <em><%= jet.city %></em>
                <p><strong>£<%= jet.price_hour %></strong> per hour</p>

              <div class="stars">
                <% if jet.reviews.blank? %>
                  No Reviews yet!
                <% else %>
                  <% stars_num = ((jet.reviews.map {|e| e.rating}.sum).to_f / jet.reviews.count).round(2) %>
                  <% stars_num.to_i.times do %>
                    <i class="fas fa-star yellow"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="right">
    <div
      id="map"
      style="width: 100%;
      height: 720px;"
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>
</div>
