
<div class="jets-banner">
  <video id="banner_video" src="<%= image_path 'banner_video' %>" type="video/mp4" autoplay loop muted >
  </video>
  <div class="banner_button">

    <h1>Find the flight of your dreams!</h1>
    <a href="#trump"><img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_arrow_drop_down_48px-512.png" alt="" style="height: 150px"></a>

  </div>
  <div class="jets-banner-content">
    <h1>Select a Luxury Jet!</h1>
  </div>
</div>
<div id="trump">
  <div class="container">
    <div class="row">
      <% @jets.each do |jet| %>
      <div class="col-sm-4">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="tex">
                <p> <%= jet.name %> with <%= jet.seats %> seats starting at $<%= jet.price_hour %>/hour </p>
                <% if jet.reviews.blank? %>
                  No Reviews yet!
                <% else %>
                  <% stars_num = ((jet.reviews.map {|e| e.rating}.sum).to_f / jet.reviews.count).round(2) %>
                  <% stars_num.to_i.times do %>
                    <i class="fas fa-star yellow"></i>
                  <% end %>
                <% end %>
                <!-- <p>Deal: $1,250</p> -->
              </div>
            </div>
            <%= link_to jet_path(jet) do %>
            <div class="flip-card-back">
              <h1>What People had to say About this..</h1>
              <h3>"From far the best investment I've ever made in my life."</h3>
              <p>November 12th, 2018</p>
              <p> <img src="https://cdnfr1.img.sputniknews.com/images/102942/26/1029422674.jpg" class="musk-avatar"  data-toggle="dropdown">                   -Poutine</p>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>





