<div class="jets-banner">
  <video id="banner_video" src="<%= image_path 'banner_video.mp4' %>" type="video/mp4" autoplay loop muted >
  </video>
  <div class="banner_button">

    <h1>Find the flight of your dreams!</h1>
    <a href="#main-container"><img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_arrow_drop_down_48px-512.png" alt="" style="height: 150px"></a>

  </div>
  <div class="jets-banner-content">

  </div>
</div>
<div id="main-container">

  <div class="left">
    <div class="row">
      <% @jets.reverse.each do |jet| %>
        <div class="col-sm-6">
          <div class="index-card">
            <%= link_to jet_path(jet) do %>
              <% if jet.photo? %>
              <%= link_to jet_path(jet) do %>
                <div class="index-card-image" style="background-image: url('<%= cl_image_path jet.photo, height: 300, width: 400 %>');background-size: cover; height: 220px;">
                </div>
                <% end %>
              <% else %>
            <%= link_to jet_path(jet) do %>
              <div class="index-card-image" style="background-image: url('https://images.unsplash.com/photo-1540962351504-03099e0a754b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cdc84c9290e90088f8ab78270ee1ffdf&auto=format&fit=crop&w=450&h=300&q=60'); height: 220px;">
              </div>
              <% end %>
            <% end %>
            <% end %>
            <div class="index-card-text">
              <h3><%= jet.name %></h3>
              <h6>£<%= jet.price_hour %> per hour</h6>
              <% if jet.reviews.blank? %>
                  <p>No Reviews yet!<p>
              <% else %>
                <div class="star-holder">
                  <% stars_num = ((jet.reviews.map {|e| e.rating}.sum).to_f / jet.reviews.count).round(2) %>
                  <% stars_num.to_i.times do %>
                    <i class="fas fa-star yellow"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>
  <div class="right">
    <div
      id="map"
      style="width: 100%;
      height: 720px;"
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>
</div>
