<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="col-xs-12 col-sm-6">


      <div class="card" style="background-image: url('https://images.unsplash.com/photo-1540962351504-03099e0a754b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cdc84c9290e90088f8ab78270ee1ffdf&auto=format&fit=crop&w=500&q=60');">
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">

        <h3>Location: <%= @jet.city %></h3>
        <p>Name: <%= @jet.name %></p>
        <p>Model: <%= @jet.model %></p>
        <p>Price: <%= @jet.price_hour %> <em>per hour</em></p>
        <% total = count = average = 0 %>
        <% @jet.reviews.each do| review| %>
          <% total += review.rating %>
          <% count += 1 %>
        <% end %>
        <% average = count == 0 ? 0 : total / count %>
        Rating: <% average.times do %>
        <i class="fas fa-star yellow"></i>
      <% end %>
    </div>
<!--     </div>
 -->    </div>
    <div class="col-xs-12 col-sm-6">

    <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a odio hendrerit nisi varius euismod et in justo. Nullam commodo nunc purus, quis tempor risus finibus sed. Nulla facilisis laoreet imperdiet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc vestibulum sagittis mi quis efficitur. Integer egestas justo at cursus convallis. Quisque malesuada tincidunt ligula, non rhoncus erat iaculis eu. Cras bibendum laoreet ante nec ullamcorper. Proin blandit, arcu quis convallis volutpat, odio felis porta justo, vel rutrum enim leo a tellus.</p>
    <br>
  </div>
  <div class="col-xs-12 col-sm-6">

    <%= render "booking_form" %>
  </div>
<!--
   -->
  </div>
</div>
</div>
