<div class="home-banner">
  <div class="home-nav">
    <%= image_tag "rentajet_logo_light" %>
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <% if user_signed_in? %>
      <!-- Links when logged in -->

      <%= link_to 'Rent a jet', jets_path, class: "anchor-shadow" %>
      <%= link_to 'Rent your jet', new_jet_path, class: "anchor-shadow" %>
      <%= link_to "Dashboard", user_path(current_user), class: "anchor-shadow" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item home-item">
        <div class="dropdown">
          <%= image_tag "avatar_placeholder.png", class: "home-avatar", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Log in"), new_user_session_path %>
      <%= link_to "Sign up", "/users/sign_up" %>
    <% end %>

    </div>
  </div>
  <div class="home-search">
    <%= form_tag jets_path, method: :get do |f| %>
      <div id="home-from">
        <label for="origin">From</label>
        <!-- <input type="text" placeholder="origin" /> -->
        <%= text_field_tag :city, params[:city], placeholder: "origin" %>
      </div>
      <div id="home-to">
        <label for="">To</label>
        <!-- <input type="text" placeholder="destination" /> -->
        <%= text_field_tag :destination, params[:destination], placeholder: "destination" %>
      </div>
      <div id="home-depart">
        <label for="">Depart</label>
        <!-- <input type="text" placeholder="depart" /> -->
        <%= text_field_tag :start_date, params[:start_date], placeholder: "departure" %>
      </div>
      <div id="home-return">
        <label for="">Return</label>
        <!-- <input type="text" placeholder="return" /> -->
        <%= text_field_tag :end_date, params[:end_date], placeholder: "return" %>
      </div>
      <div id="home-passengers">
        <label for="">Passengers</label>
        <!-- <input type="text" placeholder="passengers" /> -->
        <%= text_field_tag :seats, params[:seats], placeholder: "passengers" %>
      </div>
      <div id="home-submit">
        <label for="">&nbsp;</label>
        <button type="submit" class="home-submit">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>
