<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://4home.ge/wp-content/uploads/2015/07/Article-Name-Image1-e1408397717734.jpg');">
<!--   <div class="banner-content">
 -->    <h1>Fly With Ease, To Your Wildest Limits.</h1>
        <p>Start your flight search</p>

<div class="container">
<%= form_tag jets_path, method: :get do %>
<div class="row">
<div class="col-xs-12 col-sm-3">

  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "From"
  %>
  </div>

<div class="col-xs-12 col-sm-4">
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "To"
  %>
</div>


<div class="col-xs-12 col-sm-4">

  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Passengers"
  %>
</div>

  <div class="col-xs-12 col-sm-3 col-sm-offset-7">

  <%= submit_tag "Search flights", class: "search-homepage-button" %>


  </div>

  </div>
  </div>

<% end %>


  </div>
<!--   </div>
 --></div>
